<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MyCommunity.Properties.Settings.DBCommunityConnectionString" connectionString="server=localhost;port=3306;user=root;password=Lsp518418$$;database=wuyemgrsys;sslmode=none;Character Set=utf8;"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
